<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.game.domain.mapper.PhaseMapper">

<select id="readGetPhase" resultType="com.example.game.domain.pojo.Phase">
    select * from phase where id = 1
</select>

    <select id="writeGetPahse" resultType="com.example.game.domain.pojo.Phase">
        select * from phase where id = 1
    </select>
    
</mapper>